/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: 0 auto;
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: "wdth" var(--font-weight-variative-text-card),
    "wdth" var(--font-weight-variative-title-card);
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-family-main), sans-serif;
  }
}

/* HEADER */

.header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-block-end: 130px;
  margin-block-start: 100px;
  margin-block-end: 95px;
  font-family: var(--font-family-accent), monospace;
  font-variation-settings: "wght" var(--font-weight-title);
  color: var(--main-color);
  text-transform: uppercase;
  background-color: var(--bg-color);
  text-align: center;
  border: 2px solid var(--main-color);
}

.content {
  display: grid;
  grid-template-columns: minmax(320px, 700px);
}

.header__title {
  font-size: var(--font-size-main);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 130px;
  margin-inline: 16px;
}

.header__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-subtitle);
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  gap: 51.5px;
  display: grid;
  grid-template-columns: minmax(320px, 700px);
}

.card {
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
}

.card__title {
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: "wght" var(--font-weight-variative-title-card);
  font-size: 18px;
  color: var(--main-color);
  margin: 4px 10px;
}

.card__image {
  position: relative;
}

.image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Фильтры */
.filter-no {
  filter: none;
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-invert {
  filter: invert(75%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-blur {
  filter: blur(2px);
}

.filter-saturate-hue-rotate {
  filter: saturate(150%) hue-rotate(45deg);
}
/* Конец фильтры */

.label {
  display: block;
  opacity: 0.5;
  font-family: var(--font-family-accent), monospace;
  font-variation-settings: "wght" var(--font-weight-title);
  font-size: 14px;
  color: var(--main-color);
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  top: 29px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--label-color), 0 1px var(--label-color),
    1px 0 var(--label-color), 0 -1px var(--label-color);
}

@supports (
  (text-stroke: 1px var(--label-color)) or
    (-webkit-text-stroke: 1px var(--label-color))
) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--label-color);
    text-stroke: 1px var(--label-color);
    text-shadow: none;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-block-end: 25px;
}

.card__content-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: "wght" var(--font-weight-variative-text-card);
  font-size: 18px;
  line-height: 21px;
  margin-inline: 25px;
  margin-block-start: 25px;
  margin-block-end: 21px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  font-family: var(--font-family-accent), monospace;
  font-size: 14px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
}

/* HEART */

.like-icon {
  width: 39px;
  height: 36px;
  transform-origin: center;
}

.card__like {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: flex-end;
}

.card__icon-button {
  padding: 0;
  background: transparent;
  border: none;
  transition: border 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  cursor: pointer;
}

.main-body {
  fill: var(--heart-main-body-color);
  transition: fill 0.3s linear;
}

.core {
  fill: var(--heart-core-color);
  transition: fill 0.3s 0.03s linear;
}

.contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
  fill: var(--heart-like-click);
}

.like-icon {
  width: 39px;
  height: 36px;
  transform-origin: center;
}

.like-icon:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-like-click);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--heart-like-click);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart {
  fill: var(--heart-like-click);
  animation-name: heart;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.like-icon.is-liked .sparks {
  animation-name: sparks;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s linear;
  fill: var(--heart-like-click);
}

.like-icon.is-liked .main-body,
.like-icon.is-liked .core {
  fill: var(--heart-like-click);
  transition: fill 0.3s linear;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
  transition: border 0.3s ease;
}

.main-body,
.core {
  fill: transparent;
}

/* лайкнуть */
.button {
  font-family: var(--font-family-accent), monospace;
  font-variation-settings: "wdht" var(--font-weight-title);
  color: var(--text-like-button);
  font-size: 14px;
  border: 2px solid var(--main-color);
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  min-height: 38px;
}

.button::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: width 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  width: 100%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  margin-inline-end: 25px;
}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.card__icon-button:has(.is-liked) + .card__like-button {
  padding: 10px 20px;
}

/* FOOTER */

.save {
  background-color: var(--bg-color);
  color: var(--button-text-color);
  border: 2px solid rgba(0, 0, 0, 1);
  margin-block-start: 47px;
  margin-block-end: 100px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  grid-template-columns: minmax(320px, 700px);
}
.button__save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 17px 20px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
}

.floppy-icon {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

.dialog {
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  width: 353px;
  height: 191px;
}

.dialog::backdrop {
  background: rgb(0 0 0 / 0.75);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.dialog__text-block {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__floppy-icon {
  width: 39px;
  height: 39px;
  mix-blend-mode: difference;
}

.dialog__text {
  font-family: var(--font-family-accent), monospace;
  font-variation-settings: "wght" var(--font-weight-title);
  font-size: 14px;
  color: var(--accent-color);
  line-height: 21px;
  width: 234px;
  text-transform: uppercase;
}

.dialog__button {
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  width: 293px;
  height: 38px;
  text-transform: uppercase;
  display: block;
}

@media (width <= 375px) {
  .floppy-icon {
    width: 28px;
    height: 28px;
  }

  .button__save {
    flex-direction: column;
  }

  .header__title {
    margin-block-start: 95px;
  }
  .header {
    padding-block-start: 25px;
    padding-block-end: 120px;
  }

  .card:nth-child(1) {
    margin-block-start: 5px;
  }

  .card__content {
    gap: 7.5px;
  }

  .cards {
    gap: 47.5px;
  }

  .dialog__button {
    width: 261px;
  }

  .dialog__text {
    width: 200px;
  }
}
